*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    
}


.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    display: flex;  
}

.sidebar{
    background-image: url("greenLeaf.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 45%;
    background-position: center;
    position: relative;  
    
}

.logoStrip{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: whitesmoke;
    position: absolute;
    width: 100%;
    top: 200px;
    background-color: rgb(0 0 0/50%);
}

.logoImage{
    height: 100%;
    width:auto;
    
}



.content, .form-content{
    display: flex;
    flex-direction: column;
}

.content{    
    width: auto;
}

.name, .contacts, .passwd{
    display: flex;
}

.content-text{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: large;
    font-weight: 1000;
    background-color: lightgray;
    padding: 20px 40px;
    padding-top: 100px;
}

/*form */

.form-content{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    gap: 30px;
}


.fields{
    display: flex;
    gap: 60px;
}

.inputs{
    display: flex;
    flex-direction: column;
}

input{
    width: 300px;
    height: 30px;
}


.btn{
    background-color: lightgrey;
    height: 100%;
    padding: 40px;
}

button{
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 25px;
    background-color: #0d7a44;
    color: beige;
}
