*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    padding: 0px 100px;
}


.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
    display: flex;  
}

.sidebar{
    background-image: url("greenLeaf.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
    width: 50%;
    background-position: center;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;

}

.logoImage{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.content, .form-content{
    display: flex;
    flex-direction: column;
}

.content{
    padding: 0px 40px;
    width: 50%;
}

.name, .contacts, .passwd{
    display: flex;
}

.content-text{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: large;
    font-weight: 1000;
    background-color: lightgray;
    padding: 20px;
}
